@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poly:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;

}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.2rem;
    text-shadow: 0px 0px 2px rgb(0, 0, 0,.4);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 2px;
}

#inputfield {
    outline: none;
    width: 30%;
    height: 35px;
    padding: 3px 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .7);
    border: 12px;
    border: none;
    font-size: 17px;
}

#seachbutton {
    margin-left: 5px;
    padding: 3px 6px;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .6);
    font-size: 17px;
}

.searchContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}

.searchOption {
    width: 30%;
    height: 100%;
    margin-top: 35px;
    
    
}

.searchOption img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    transition: opacity 0.5s ease;
}
 .searchOption img:hover {
    opacity: 0.8;
 }

.searchOption a{
   display: block;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
   padding: 7px 3px;
   text-decoration: none;
   color: rgb(0, 0, 0, .7);
   font-size: 14px;
   border-radius: 0px 0px 12px 12px;

}

.seeMore {
    text-align: center;
    margin: 70px auto;
     padding: 3px 5px;
    height: 35px;
    display: block;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .7);
   border: none;
   display: none;

}

@media screen and (max-width: 768px) {
    .searchOption {
        width: 45%;
    } 

   
}
@media screen and (max-width: 480px){
    .searchOption {
        width: 100%;
    }
}